Repository Whamp/pi-token-burden: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: add context budget analyzer implementation plan
  docs/plans/2026-02-26-context-budget-analyzer.md
Due: oxfmt --config .oxfmtrc.jsonc

feat: add system prompt parser with section breakdown
  src/parser.test.ts
  src/parser.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: add report formatter for parsed prompt sections
  src/formatter.test.ts
  src/formatter.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: add TUI report view component for context budget
  src/report-view.test.ts
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: remove unused pi-ai dependency
  package.json
  pnpm-lock.yaml
Due: oxfmt --config .oxfmtrc.jsonc

feat: register /context-budget command
  src/index.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: pass all checks — fix lint, typecheck, dead code
  knip.json
  src/formatter.test.ts
  src/formatter.ts
  src/parser.test.ts
  src/parser.ts
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: add README and MIT license
  LICENSE
  README.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

chore: declare pi runtime deps as peerDependencies
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

chore: rename project to pi-token-burden
  AGENTS.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

chore: remove private flag
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

chore: move pi packages to peerDependencies, skip devDeps on install
  .npmrc
  package.json
  pnpm-lock.yaml
Due: oxfmt --config .oxfmtrc.jsonc

chore: skip peer dep auto-install for pi install
  .npmrc
Due: none

chore: suppress husky not-found noise on install
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

chore: remove prepare script to silence npm install output
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

docs: add report UI redesign plan
  docs/plans/2026-02-26-report-ui-redesign.md
Due: oxfmt --config .oxfmtrc.jsonc

feat: redesign report UI with overlay, visualization bars, and drill-down table
  .gcc/AGENTS.md
  .gcc/branches/main/commits.md
  .gcc/branches/main/metadata.yaml
  .gcc/main.md
  .gcc/state.yaml
  .gitignore
  AGENTS.md
  knip.json
  src/formatter.test.ts
  src/formatter.ts
  src/report-view.ts
  src/types.ts
  src/utils.test.ts
  src/utils.ts
  tsconfig.json
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: add husky to knip ignoreDependencies
  knip.json
Due: oxfmt --config .oxfmtrc.jsonc

rename: /context-budget command to /token-burden
  README.md
  docs/plans/2026-02-26-context-budget-analyzer.md
  docs/plans/2026-02-26-report-ui-redesign.md
  src/index.ts
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Update AGENTS.md with project docs, remove template, fix oxfmt config
  .gcc/state.yaml
  .oxfmtrc.jsonc
  AGENTS.md
  AGENTS.md.template
Due: oxfmt --config .oxfmtrc.jsonc

Add npm publish metadata: description, keywords, files
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

chore: add changelog with changelogen automation
  .oxfmtrc.jsonc
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: oxfmt --config .oxfmtrc.jsonc

0.1.1
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

docs: document changelog workflow in AGENTS.md and README.md
  AGENTS.md
  README.md
Due: oxfmt --config .oxfmtrc.jsonc

docs: improve README structure, add badges and contributing section
  README.md
Due: oxfmt --config .oxfmtrc.jsonc

0.1.2
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

Update README with token-burden link
  README.md
Due: oxfmt --config .oxfmtrc.jsonc

docs: add banner image to README
  README.md
  banner.png
Due: oxfmt --config .oxfmtrc.jsonc

0.1.3
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

build: move gpt-tokenizer to dependencies
  docs/plans/2026-02-26-gpt-tokenizer-integration.md
  package.json
  pnpm-lock.yaml
Due: oxfmt --config .oxfmtrc.jsonc

fix(ci): specify pnpm version in package.json and ignore scripts dir
  .oxfmtrc.jsonc
  .oxlintrc.json
  README.md
  package.json
  screenshot.png
Due: oxfmt --config .oxfmtrc.jsonc

test: update estimateTokens tests for BPE tokenization
  src/parser.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: replace heuristic with BPE tokenization via gpt-tokenizer
  src/parser.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

test: relax totalTokens assertion to work with BPE
  src/parser.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix(ci): ignore gpt-tokenizer in knip and fix gitleaks path
  knip.json
Due: oxfmt --config .oxfmtrc.jsonc

style: fix import formatting
  src/parser.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: remove gpt-tokenizer from knip ignoreDependencies
  knip.json
Due: oxfmt --config .oxfmtrc.jsonc

docs: update AGENTS.md for BPE tokenization
  AGENTS.md
Due: oxfmt --config .oxfmtrc.jsonc

fix(ci): install gitleaks binary in GitHub Actions
  .github/workflows/check.yml
Due: none

chore: remove gitleaks from project
  .gcc/state.yaml
  .github/workflows/check.yml
  .gitleaks.toml
  .husky/pre-commit
  AGENTS.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/check.sh
  scripts/compare-tokenizers.test.ts
  scripts/compare-tokenizers.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Path conditions:
  oxlint -c .oxlintrc.json --fix: any of: *.{ts,tsx}
  oxfmt --config .oxfmtrc.jsonc: (any of: *.{ts,tsx}) or (any of: *.{json,md})
