Repository Whamp/pi-token-burden: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: use GPT-5.6 Sol for Sandcastle
  .sandcastle/.env.example
  .sandcastle/afk-runner.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: set Sandcastle ZAI fallback
  .sandcastle/afk-runner.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: raise Sandcastle Sol thinking
  .sandcastle/.env.example
Due: none

fix: disclose terminal failures safely
  .sandcastle/afk-runner.ts
  .sandcastle/lib/preserveFailureEvidence.test.ts
  .sandcastle/lib/preserveFailureEvidence.ts
  .sandcastle/lib/recordFailure.test.ts
  .sandcastle/lib/recordFailure.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: compare research artifact blob identities
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: bind research artifacts to committed content
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: keep raw failure logs out of Git
  .sandcastle/README.md
  .sandcastle/afk-runner.ts
  .sandcastle/lib/preserveFailureEvidence.test.ts
  .sandcastle/lib/preserveFailureEvidence.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: preserve Sandcastle runtime research
  docs/research/2026-07-09-sandcastle-pi-docker-runtime-contract.md
Due: oxfmt --config .oxfmtrc.jsonc

fix: regenerate trusted report artifacts
  .sandcastle/.gitignore
  .sandcastle/afk-runner.ts
  .sandcastle/lib/preserveFailureEvidence.ts
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: keep validator output out of reports
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: isolate raw validation logs
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: keep runner host logs private
  .sandcastle/afk-runner.ts
  .sandcastle/lib/recordFailure.test.ts
  .sandcastle/lib/recordFailure.ts
  .sandcastle/lib/secureLogStore.test.ts
  .sandcastle/lib/secureLogStore.ts
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: reject contradictory review verdicts
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: publish durable artifact links
  .sandcastle/afk-runner.ts
  .sandcastle/lib/durableGitHubUrl.test.ts
  .sandcastle/lib/durableGitHubUrl.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: verify published research artifacts
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: retain validator logs on runner host
  .sandcastle/afk-runner.ts
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: make Sandcastle evidence durable
  .sandcastle/reports/issue-28/pass-1/validation.json
  .sandcastle/reports/issue-28/pass-2/validation.json
  docs/research/2026-07-09-sandcastle-pi-docker-runtime-contract.md
Due: oxfmt --config .oxfmtrc.jsonc

docs: pin GitHub permission evidence
  docs/research/2026-07-09-sandcastle-pi-docker-runtime-contract.md
Due: oxfmt --config .oxfmtrc.jsonc

docs: archive GitHub permission sources
  docs/research/2026-07-09-sandcastle-pi-docker-runtime-contract.md
Due: oxfmt --config .oxfmtrc.jsonc

fix: route ready issues without kind labels
  .sandcastle/README.md
  .sandcastle/lib/constants.test.ts
  .sandcastle/lib/github.test.ts
  .sandcastle/lib/github.ts
  .sandcastle/lib/routing.test.ts
  .sandcastle/lib/routing.ts
  .sandcastle/lib/routingPolicy.test.ts
  .sandcastle/lib/routingPolicy.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: preserve combined taxonomy decisions
  CONTEXT.md
  decisions/Key Decisions.md
  docs/plans/2026-07-08-combined-token-burden-taxonomy.md
  docs/prototypes/tool-envelope-overhead-placement.prototype.html
  docs/research/2026-07-09-initial-load-extension-burden-analysis.md
  docs/research/pi-base-prompt-extension-contributions.md
Due: oxfmt --config .oxfmtrc.jsonc

Import lazily
  src/index.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Path conditions:
  oxlint -c .oxlintrc.json --fix: any of: *.{ts,tsx}
  oxfmt --config .oxfmtrc.jsonc: (any of: *.{ts,tsx}) or (any of: *.{json,md})
