Repository Whamp/pi-token-burden: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: update README token estimation section for BPE
  README.md
Due: oxfmt --config .oxfmtrc.jsonc

feat: replace heuristic with BPE tokenization via gpt-tokenizer (#1)
  .gcc/state.yaml
  .gitleaks.toml
  .husky/pre-commit
  AGENTS.md
  README.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/check.sh
  scripts/compare-tokenizers.test.ts
  scripts/compare-tokenizers.ts
  src/parser.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Remove token burden screenshot and table
  README.md
Due: oxfmt --config .oxfmtrc.jsonc

0.2.0
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

feat: add skill toggle types and fast-check dependency
  .memory/branches/main/commits.md
  .memory/state.yaml
  knip.json
  package.json
  pnpm-lock.yaml
  src/enums.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: add skill persistence module with settings and frontmatter support
  src/skills-persistence.test.ts
  src/skills-persistence.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: add skill-toggle mode to BudgetOverlay
  .memory/state.yaml
  docs/plans/batch-2-handoff.md
  src/report-view.test.ts
  src/report-view.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: wire skill discovery into /token-burden command
  src/index.ts
  src/report-view.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: update skill modes after successful save to prevent UI snap-back
  .memory/branches/main/commits.md
  .memory/state.yaml
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: add tmux e2e harness, vitest e2e config, and test:e2e script
  .memory/state.yaml
  .oxlintrc.json
  knip.json
  package.json
  src/e2e/tmux-harness.test.ts
  src/e2e/tmux-harness.ts
  vitest.config.e2e.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

test: add e2e skill-toggle mode tests
  src/e2e/skill-toggle.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: update AGENTS.md with e2e test commands and file map
  AGENTS.md
Due: oxfmt --config .oxfmtrc.jsonc

chore: update memory state
  .memory/state.yaml
Due: none

docs: add open-skill-in-editor implementation plan
  docs/plans/2026-03-02-open-skill-in-editor.md
Due: oxfmt --config .oxfmtrc.jsonc

test: add e2e tests for open-skill-in-editor
  src/e2e/skill-toggle.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: support 'e' to edit AGENTS.md files in drilldown mode
  src/e2e/overlay.test.ts
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: view any section in editor from sections mode
  docs/demos/view-base-prompt-in-editor.md
  docs/plans/view-base-prompt-in-editor.md
  src/e2e/overlay.test.ts
  src/parser.test.ts
  src/parser.ts
  src/report-view.test.ts
  src/report-view.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: drop md files from lint-staged oxfmt rule
  .lintstagedrc.json
Due: oxfmt --config .oxfmtrc.jsonc

chore: update memory state
  .memory/branches/main/commits.md
  .memory/main.md
  .memory/state.yaml
Due: oxfmt --config .oxfmtrc.jsonc

fix: don't delete temp file after editor exits
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: update memory state
  .memory/branches/main/commits.md
  .memory/state.yaml
Due: oxfmt --config .oxfmtrc.jsonc

0.4.0
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

docs(plan): add skill-editor walkthrough and sync memory state
  .memory/state.yaml
  walkthrough-plan.md
Due: oxfmt --config .oxfmtrc.jsonc

feat(trace): add on-demand Base prompt source tracing
  docs/plans/2026-03-17-base-prompt-source-tracing-design.md
  src/base-trace/attribution.test.ts
  src/base-trace/attribution.ts
  src/base-trace/base-lines.test.ts
  src/base-trace/base-lines.ts
  src/base-trace/cache.test.ts
  src/base-trace/cache.ts
  src/base-trace/extension-inspector.test.ts
  src/base-trace/extension-inspector.ts
  src/base-trace/index.ts
  src/base-trace/types.ts
  src/index.ts
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

test(e2e): add trace mode tests and fix overlay drilldown
  .memory/branches/main/commits.md
  .memory/main.md
  .memory/state.yaml
  README.md
  src/e2e/overlay.test.ts
  src/e2e/trace.test.ts
  src/index.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: update AGENTS.md and README for trace feature
  AGENTS.md
Due: oxfmt --config .oxfmtrc.jsonc

feat: show tool definition tokens in budget breakdown
  .memory/branches/main/commits.md
  .memory/main.md
  .memory/state.yaml
  src/index.ts
  src/parser.test.ts
  src/parser.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: open tool definitions in editor via 'e' key
  src/parser.test.ts
  src/parser.ts
  src/report-view.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

chore: update memory with tool definitions feature and test count
  .memory/main.md
Due: oxfmt --config .oxfmtrc.jsonc

fix: shorten 'Tool definitions' to 'Tools' in stacked bar legend
  .memory/branches/main/commits.md
  .memory/state.yaml
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: pad stacked bar legend to fill available width
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: apply dim styling to legend padding for consistent background
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix(legend): remove redundant manual padding
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: update README and CHANGELOG for v0.5.0 features
  CHANGELOG.md
  README.md
Due: oxfmt --config .oxfmtrc.jsonc

chore(release): v0.5.0
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

docs: update screenshots for v0.5.0 features
  .memory/state.yaml
  README.md
  screenshot-drilldown-agents.png
  screenshot-drilldown-tools.png
  screenshot-trace.png
  screenshot.png
Due: oxfmt --config .oxfmtrc.jsonc

feat(token-burden): respect active tool set in tool definitions burden
  README.md
  src/index.ts
  src/parser.test.ts
  src/parser.ts
  src/report-view.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: respect active tool state in token burden
  src/e2e/overlay.test.ts
  src/index.test.ts
  src/index.ts
  src/parser.test.ts
  src/parser.ts
  src/report-view.test.ts
  src/report-view.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: restore tools view interactions
  src/e2e/overlay.test.ts
  src/report-view.test.ts
  src/report-view.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Path conditions:
  oxlint -c .oxlintrc.json --fix: any of: *.{ts,tsx}
  oxfmt --config .oxfmtrc.jsonc: (any of: *.{ts,tsx}) or (any of: *.{json,md})
