Repository Whamp/pi-token-burden: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

0.6.0
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

fix: publish README image assets
  package.json
  src/package.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

0.6.1
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

fix: use npm-renderable README image URLs
  README.md
  src/package.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

0.6.2
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

docs: document active tool accounting
  README.md
  src/parser.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

0.6.3
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

fix: count compact LLM-visible tool schemas
  README.md
  src/e2e/agent-dir.ts
  src/e2e/overlay.test.ts
  src/e2e/skill-toggle.test.ts
  src/e2e/tmux-harness.test.ts
  src/e2e/trace.test.ts
  src/parser.test.ts
  src/parser.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: count compact LLM-visible tool schemas (#8)
  README.md
  src/e2e/agent-dir.ts
  src/e2e/overlay.test.ts
  src/e2e/skill-toggle.test.ts
  src/e2e/tmux-harness.test.ts
  src/e2e/trace.test.ts
  src/parser.test.ts
  src/parser.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

0.6.4
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

docs: migrate agent memory to napkin
  .gitignore
  .memory/AGENTS.md
  .memory/branches/main/metadata.yaml
  .memory/main.md
  .memory/state.yaml
  .napkin/config.json
  .oxfmtrc.jsonc
  .oxlintrc.json
  AGENTS.md
  NAPKIN.md
  Templates/Architecture.md
  Templates/Changelog.md
  Templates/Decision.md
  Templates/Guide.md
  architecture/Token Budget Pipeline.md
  architecture/_about.md
  changelog/Agent Memory History.md
  changelog/_about.md
  decisions/Documentation System Migration.md
  decisions/Key Decisions.md
  decisions/_about.md
  docs/plans/2026-03-01-skill-toggle-integration.md
  docs/plans/2026-03-02-open-skill-in-editor.md
  guides/Napkin Workflow.md
  guides/_about.md
Due: oxfmt --config .oxfmtrc.jsonc

refactor: deepen skill management modules
  CONTEXT.md
  src/index.ts
  src/report-view.ts
  src/skill-management-session.test.ts
  src/skill-management-session.ts
  src/skill-save.test.ts
  src/skill-save.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

refactor: extract skill visibility store
  CONTEXT.md
  src/index.ts
  src/skill-visibility-store.test.ts
  src/skill-visibility-store.ts
  src/skills-persistence.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

refactor: extract source trace report
  CONTEXT.md
  src/base-trace/cache.test.ts
  src/base-trace/cache.ts
  src/base-trace/index.ts
  src/report-view.ts
  src/source-trace-report-cache.test.ts
  src/source-trace-report-cache.ts
  src/source-trace-report.test.ts
  src/source-trace-report.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Fix token burden count accuracy
  package.json
  pnpm-lock.yaml
  src/enums.ts
  src/index.test.ts
  src/index.ts
  src/parser.test.ts
  src/parser.ts
  src/report-view.test.ts
  src/report-view.ts
  src/skill-management-session.test.ts
  src/skill-management-session.ts
  src/skills.test.ts
  src/skills.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Improve token burden accuracy
  README.md
  src/enums.ts
  src/index.test.ts
  src/index.ts
  src/parser.test.ts
  src/parser.ts
  src/report-view.ts
  src/skill-management-session.test.ts
  src/skill-management-session.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: reconcile prompt token drilldowns
  README.md
  src/parser.test.ts
  src/parser.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: harden token burden accuracy
  src/parser.test.ts
  src/parser.ts
  src/report-view.test.ts
  src/report-view.ts
  src/skill-management-session.test.ts
  src/skill-management-session.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

0.6.5
  CHANGELOG.md
  package.json
Due: oxfmt --config .oxfmtrc.jsonc

fix parser for current pi project context
  src/parser.test.ts
  src/parser.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: add agent skills configuration
  AGENTS.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: oxfmt --config .oxfmtrc.jsonc

refactor skill management budget section seam
  src/budget-table.test.ts
  src/budget-table.ts
  src/report-view.test.ts
  src/report-view.ts
  src/skill-management-session.test.ts
  src/skill-management-session.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: record TypeScript standards pilot evidence
  AGENTS.md
  NAPKIN.md
  architecture/Token Budget Pipeline.md
  decisions/TypeScript Standards Adoption.md
  docs/research/2026-07-09-typescript-standards-pilot.md
Due: oxfmt --config .oxfmtrc.jsonc

fix: address standards pilot review findings
  decisions/TypeScript Standards Adoption.md
  docs/plans/batch-2-handoff.md
  docs/research/2026-07-09-typescript-standards-pilot.md
  scripts/compare-tokenizers.ts
  src/base-trace/index.ts
  src/e2e/agent-dir.ts
  src/e2e/overlay.test.ts
  src/enums.ts
  src/index.test.ts
  src/index.ts
  src/parser.test.ts
  src/parser.ts
  src/report-view.test.ts
  src/report-view.ts
  src/saveSkillToggleResult.test.ts
  src/saveSkillToggleResult.ts
  src/skill-management-session.test.ts
  src/skill-management-session.ts
  src/skill-visibility-store.test.ts
  src/skill-visibility-store.ts
  src/skills-persistence.test.ts
  src/skills-persistence.ts
  src/skills.test.ts
  src/skills.ts
  src/source-trace-report-cache.ts
  src/tooling-contract.test.ts
  vitest.config.e2e.ts
  vitest.config.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

no-mistakes(document): Sync standards documentation
  AGENTS.md
  NAPKIN.md
  README.md
  docs/plans/2026-02-26-context-budget-analyzer.md
  docs/plans/2026-02-26-gpt-tokenizer-integration.md
  docs/plans/2026-03-01-skill-toggle-integration.md
  docs/plans/2026-03-02-e2e-tui-tests.md
  docs/plans/2026-03-02-open-skill-in-editor.md
  docs/plans/2026-03-17-base-prompt-source-tracing-design.md
  docs/plans/batch-2-handoff.md
  docs/plans/view-base-prompt-in-editor.md
  src/e2e/agent-dir.ts
  src/e2e/overlay.test.ts
  src/e2e/skill-toggle.test.ts
  src/e2e/tmux-harness.test.ts
  src/e2e/tmux-harness.ts
  src/e2e/trace.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

no-mistakes(lint): Apply formatting fixes
  AGENTS.md
Due: oxfmt --config .oxfmtrc.jsonc

chore: apply resolved standards feedback
  .oxlintrc.json
  AGENTS.md
  NAPKIN.md
  README.md
  decisions/TypeScript Standards Adoption.md
  docs/plans/2026-02-26-context-budget-analyzer.md
  docs/plans/2026-02-26-gpt-tokenizer-integration.md
  docs/plans/2026-03-01-skill-toggle-integration.md
  docs/plans/2026-03-02-e2e-tui-tests.md
  docs/plans/2026-03-02-open-skill-in-editor.md
  docs/plans/batch-2-handoff.md
  docs/plans/view-base-prompt-in-editor.md
  docs/research/2026-07-09-typescript-standards-pilot.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/check.sh
  src/base-trace/types.ts
  src/types.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

feat: add Sandcastle AFK workflow
  .sandcastle/.env.example
  .sandcastle/.gitignore
  .sandcastle/CODING_STANDARDS.md
  .sandcastle/Dockerfile
  .sandcastle/README.md
  .sandcastle/afk-runner.test.ts
  .sandcastle/afk-runner.ts
  .sandcastle/lib/constants.test.ts
  .sandcastle/lib/constants.ts
  .sandcastle/lib/enums.test.ts
  .sandcastle/lib/enums.ts
  .sandcastle/lib/github.test.ts
  .sandcastle/lib/github.ts
  .sandcastle/lib/logger.test.ts
  .sandcastle/lib/logger.ts
  .sandcastle/lib/routing.test.ts
  .sandcastle/lib/routing.ts
  .sandcastle/lib/schema.test.ts
  .sandcastle/lib/schema.ts
  .sandcastle/lib/types.test.ts
  .sandcastle/lib/types.ts
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
  .sandcastle/prompts/fix.md
  .sandcastle/prompts/implement.md
  .sandcastle/prompts/research.md
  .sandcastle/prompts/review-spec.md
  .sandcastle/prompts/review-standards.md
  .sandcastle/tsconfig.json
  package.json
  pnpm-lock.yaml
  scripts/check.sh
  vitest.config.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: harden Sandcastle live runtime
  .sandcastle/afk-runner.ts
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
  vitest.config.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: repair missing Sandcastle result blocks
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: align Sandcastle continuation contracts
  .sandcastle/README.md
  .sandcastle/lib/types.ts
  .sandcastle/lib/workflow.test.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

Create sandcastle synthetic smoke test documentation marker (attempt 1: SMOKE_PENDING)
  docs/sandcastle-afk-smoke.md
Due: oxfmt --config .oxfmtrc.jsonc

Fix smoke test: replace SMOKE_PENDING with SMOKE_VERIFIED
  docs/sandcastle-afk-smoke.md
Due: oxfmt --config .oxfmtrc.jsonc

chore: add Sandcastle reports for issue 28
  .sandcastle/reports/issue-28/pass-1/review-spec.json
  .sandcastle/reports/issue-28/pass-1/review-standards.json
  .sandcastle/reports/issue-28/pass-1/validation.json
  .sandcastle/reports/issue-28/pass-2/review-spec.json
  .sandcastle/reports/issue-28/pass-2/review-standards.json
  .sandcastle/reports/issue-28/pass-2/validation.json
Due: oxfmt --config .oxfmtrc.jsonc

fix: validate Sandcastle output repairs
  .sandcastle/lib/workflow.test.ts
  .sandcastle/lib/workflow.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

docs: remove per-test confirmation gate
  AGENTS.md
Due: oxfmt --config .oxfmtrc.jsonc

feat: preserve Sandcastle failure repro logs
  .sandcastle/afk-runner.ts
  .sandcastle/lib/preserveFailureEvidence.test.ts
  .sandcastle/lib/preserveFailureEvidence.ts
Due: oxlint -c .oxlintrc.json --fix, oxfmt --config .oxfmtrc.jsonc

fix: pin sandbox pnpm runtime
  .sandcastle/Dockerfile
Due: none

docs: simplify agent verification guidance
  AGENTS.md
Due: oxfmt --config .oxfmtrc.jsonc

Path conditions:
  oxlint -c .oxlintrc.json --fix: any of: *.{ts,tsx}
  oxfmt --config .oxfmtrc.jsonc: (any of: *.{ts,tsx}) or (any of: *.{json,md})
